body{
	font-size: 16px;
	margin: 0px auto;
	/*Requerimiento del cliente*/
	min-width: 1400px;
	max-width: 1400px; /* esto permite que no se destroce el diceno al cambiar la resolucion */
}
section article input {
        border-radius: 20px;
        padding: 8px 8px;
        font-family: 'Archivo Black', sans-serif;
        font-size: .8em;
}


#persona {
   width: 77%;
   margin-left: 88px;
   margin-top: -90px;
}

#twt {
    width: 15%;
    float: left;
    padding-bottom: 40px;
}

#s1 article{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 200px;

}


#s1img {
    
    background: #f1efef;
    width: 20%;
    padding: 50px ;
}
#s1ar1 {
    padding: 120px 77.5px ;
    width: 20%;
    background: #f1efef;
    margin-bottom: -20px;
}

#s1ar2 {
    
    float: right;
    padding: 120px 150px;
    width: 20%;
    background: #606060;

}

#s2 article{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#s1 {
    border: 1px solid green;
    padding-bottom: 20px;
}


#s2ar1 {
    background: #55aced;
    width: 30%;
    padding: 80px 50px;
}
#s2ar2 {
    background: #d1dccf;
    width: 16%;
    padding: 90px;
}
#s2ar3 {
    background: #787777;
    width: 30%;
    padding: 90px 23px;

}


#s1ar1  input[type="button"]{
	color: black;
    background: #f1efef;
    border: 2px solid black;
}
#s1ar2  input[type="button"]{
	color: white;
    background: #606060;
    border: 2px solid white;
}
#s2ar2  input[type="button"]{
	color: black;
    background: #d1dccf;
    border: 2px solid black;

}
#s2ar3  input[type="button"]{
	color: white;
    background: #787777;
    border: 2px solid white;
}


.cblanco{
	color: white;
}
.letragrande{
	font-size: 2em;
}
.letramediana{
	font-size: 1.3em;
}

.ablack {
    font-family: 'Archive Black',sans-serif;
}

.lato{
    font-family: 'Lato',sans-serif;
    font-weight: bold;
}

.lbaskeville{
    font-family: 'Libre Baskerville',sans-serif;
    font-style: italic;
}

.osans{
    font-family: 'Open Sans',sans-serif;
}
