body{
	font-size: 16px;
	margin: 0px auto;
	/*Requerimiento del cliente*/
	min-width: 1078px;
	max-width: 1078px; /* esto permite que no se destroce el diceno al cambiar la resolucion */
}
header input{
	float: right;
	margin-right: -240px;	
	position: relative;
	margin-top: 20px;
}
header nav	{
	/*text-align: center;*/
	margin-left: 230px;
}
header nav ul li{
	border-bottom: 1px solid lightgray;
	display: inline-block;
	color: lightgray;
	font-size: 1.8em;
	margin-right: 12px;
	/*text-decoration: underline;*/
	padding-bottom: 2px;
}

footer {
	background: #4267b3
}

footer article {
	display: inline-block;
	vertical-align: middle;
}
#granthams{
	margin-top: 25px;
	margin-left: 25px;	

}
#paint{
	float: right;
}
#s1{
	margin-top: 55px;
	height: 318px;
}
#s1 article{
	display: inline-block;
	vertical-align: top;
}
#s1ar1{
	width: 60%;
	margin-left: 30px;
}
#s1ar2{
	width: 30%;
	margin-left: 50px;

}
#s1ar2 ul{
	list-style: none;
	margin-left: -32px;	
}
#s1ar2 ul li:before{
	content: "• ";
	color: #ff0099;
}
#spoffer{
	position: relative; /* se ocupa poner relativa para poder sacarla de la caja, por defecto todo viene en posicion estatica, y al moverlo se mueven dentro de su caja pero sin salirse. */
	top: -400px;
	left: -40px;
}
#s2{
	padding-top: 10px;

}
#s2 article{
	text-align: right;
	padding-right: 160px;
}

#s3 article {
	display: inline-block;
	vertical-align: top;
	width: 23%;
}

#s3 article img {
	vertical-align: middle;

}

#s3 article input {
	border-radius: 5px;
}

#s3 article input[type="button"]{
	color: white;
	background: #8bc500;
}

#s3art04 {
	/* border: 1px solid red; */
	padding-top: 40px;
}

#ar1 {
	width: 45%;
}
#ar2 {
	width: 45%;
}
#ar3 {
	width: 9%;
}

#ar3 article input {
	border-radius: 5px;
}
#ar3 article input[type="button"]{
	color: white;
	background: #4267b3;
}

.colorrosa{
	color: #ff0099;
}

.colorazul{
	color: #4267b3;
}
.colorverde{
	color: #8bc500;
}
.colorblanco{
	color: white;
}
.nito{
	font-weight: bold;
}
.letragrande{
	font-size: 3.5em;
}
.letramediana{
	font-size: 2em;
}
